button{
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(0, 149, 213);
    font-family: fantasy;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
}  

button:hover{
    background-color: rgb(0, 123, 76);
    color: whitesmoke;
}